
body {
  margin: 0;
  padding: 0;
  background-color:white;
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root{
  --font-size-1:2rem;
  --font-size-2:1.5rem;
  --font-size-3:1rem;
  --font-size-4:0.5rem;
  --background-color:white;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.app input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     text-shadow:  0px 0px 6px rgba(255,255,255,.3),
                -4px -4px 6px rgba(116, 125, 136, .2);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
      -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

p {
  margin: 10px;
  font-size: 14px;
}



.app input:hover>.search-input {
  width: 400px;
}


.app input .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}



.app input {
  color: #5cbdbb;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }

  25% {
    transform: skew(5deg, 5deg);
  }

  75% {
    transform: skew(-5deg, -5deg);
  }

  100% {
    transform: skew(0deg, 0deg);
  }
}

.app input:hover {
  animation: hoverShake 0.15s linear 3;
}


/*------Navbar-------*/

.topbar{
  display: flex;
  /* background: var(--background-color); */
  width: 96vw;
  height: 10vh;
  margin-top: 1.5vh;
  margin-left: 1.5vw;
  text-align: right;
  align-items: right;
  justify-content: space-around;
  position: fixed;
  border-radius: 1.5rem ;
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
}
.logo_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 50%;
  width: fit-content;
}
.logo_wrapper>img{
  width: 60px;
  align-items: left;
  justify-content: left;
  margin-left: 3rem;
}
.rightside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.topbar_links{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  align-items: center;
  justify-content: space-evenly;
}
.topbar_links>a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border-radius: 5px;
  border: none;
  display: none;
}
.toggle_button_label>p{
  visibility: collapse;
}


/*-----Home page-----*/

.home{
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.banner>img{
  width: 100vw;
  
}
.one{
  width: 80vw;
  border-radius: 2rem ;
  box-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
  position: absolute;
  padding: 2rem;
  top: 40vh;
}

@media only screen and (max-width:768px){
  
  
  
  /*---topbar---*/
  
  .topbar{
    overflow: visible;
    margin-left: 2vw;
  }
  .logo_wrapper>img{
    width: 45px;
    margin-left: 1.5rem;
    z-index: 999;
  }
  .topbar_links>a {
    display:flex;
    justify-content: space-between;
    margin: 1rem ;
    text-decoration: none;
    font-weight: 600;
    padding: 0.2em;
    text-transform: uppercase;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
  }
  .close{
    transform: scale(1,0);
    transition: transform 300ms ease-in-out;
  }
  .topbar_links{
    position: absolute;
    right:0%;
    top: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    gap: 1rem;
    padding: 1rem;
    /* background: var(--background-color); */
    /* backdrop-filter: blur(15px); */
    box-shadow: 0px 0px 10px black;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
  } 
 
  .toggle_button:checked ~ nav{
    transform: scale(1,1);
    z-index: 90;
  }
  .toggle_button:not(:checked) ~ nav{
    transform: scale(1,0);
    z-index: 90;
  }
  .toggle_button_label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100% ;
    display: flex;
    align-items: center;
  }
  .toggle_button_label>p{
    visibility: collapse;
  }
  .toggle_button_label span,
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    display: block;
    background:black;
    width: 1.5em;
    height: 0.2em;
    border-radius: 2px;
    position: relative;
    
  }
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    content: " ";
    position: absolute;
  }
  .toggle_button_label span::before{
    bottom: 7px;
  }
  .toggle_button_label span::after{
    top: 7px;
  }
  .toggle_button:checked ~  .toggle_button_label span{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in ;
  }
  .toggle_button:checked ~  .toggle_button_label p{
    visibility: visible;
    color: black;
    position: absolute;
    top: -2%;
    left: 0%;
    font-size: 1.5em;
    font-weight: 600;
    animation: hamburgerX 500ms ease-in;
    z-index: 98;
  }
  .toggle_button:checked ~ .topbar{
    box-shadow: none;
  }


  /*---Home---*/
  .banner>img{
  height: 40vh;
   }
}

