
body {
  margin: 0;
  padding: 0;
  background-color:rgb(200, 182, 251);
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}
header{
  z-index: 999;
}

:root{
  --font-size-1:2rem;
  --font-size-2:1.5rem;
  --font-size-3:1rem;
  --font-size-4:0.5rem;
  --background-color:white;
  --webkit-backdrop-filter: blur(50px);
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.app input {
  margin-top: 20px;
  /* width: 300px; */
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     text-shadow:  0px 0px 6px rgba(255,255,255,.3),
                -4px -4px 6px rgba(116, 125, 136, .2);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
      -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

p {
  margin: 10px;
  font-size: 14px;
}



.app input:hover>.search-input {
  width: 400px;
}


.app input .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}



.app input {
  color: #5cbdbb;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }

  25% {
    transform: skew(5deg, 5deg);
  }

  75% {
    transform: skew(-5deg, -5deg);
  }

  100% {
    transform: skew(0deg, 0deg);
  }
}

.app input:hover {
  animation: hoverShake 0.15s linear 3;
}
.flight-input-wrapper{
  display: flex;
  /* justify-content: space-between; */
  gap: 3rem;
  flex-wrap: wrap;
}
.flight-input{
  display: flex;
  gap: 1rem;
}
.flight-input>img{
 width: 40px;
 justify-content: center;
 align-items: center;
 padding: 0.5rem;
}


/*------Navbar-------*/

.topbar{
  display: flex;
  width: 96vw;
  height: 10vh;
  margin-top: 1.5vh;
  margin-left: 1.5vw;
  justify-content: space-around;
  position: fixed;
  border-radius: 1.5rem ;
  box-shadow: 0px 0px 10px black;
  backdrop-filter: var(--webkit-backdrop-filter);
  overflow-y: hidden;
  z-index: 9;
}
.logo_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 50%;
  width: fit-content;
}
.logo_wrapper>img{
  width: 60px;
  align-items: left;
  justify-content: left;
}
.brand-name{
  display: flex;
  align-items: center;
  width: fit-content;
  
}
.rightside{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topbar_links{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.topbar_links>a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border-radius: 5px;
  border: none;
  display: none;
}
.toggle_button_label{
  width: 0;
}
.toggle_button_label>p{
  visibility: collapse;
}



/*-----Home page-----*/

.home{
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.banner>img{
  width: 100vw;
  height:60vh ;
  opacity: 0.7;
}
.one{
  width: 80vw;
  border-radius: 2rem ;
  box-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
  position: absolute;
  padding: 2rem;
  top: 40vh;
}
.greetings{
  position: absolute;
  top: 10vh;
  font-size: 3rem;
  justify-content: left;
  align-items: left;
  z-index: 9;
}
.options-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  position: absolute;
  top: 50vh;
}
.options{
  border-radius: 2rem ;
  box-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
  padding:1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.options>img{
   width: 80px;
}


@media only screen and (max-width:1050px){
  .greetings{
    font-size: 2rem;
  }
}
@media only screen and (max-width:768px){
  
  
  
  /*---topbar---*/
  
  .topbar{
    overflow-y: visible;
    margin-left: 4vw;
    width: 92vw;
  }
  .logo_wrapper>img{
    width: 44px;
    
  }
  .logo_wrapper{
    font-size: 1rem;
  }
  .brand-name{
    align-items: center;
  }
  .brand-name>h1{
    font-size: 1rem;
    width: 10ch;
    margin-right: 4ch;
    text-align: center;
  }
  
  .topbar_links>a {
    display:flex;
    justify-content: space-between;
    margin: 1rem ;
    text-decoration: none;
    font-weight: 600;
    padding: 0.2em;
  }
  nav {
    position: absolute;
    top: 13vh;
    left: 0;
    margin: auto;
    width: 86vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
    height: max-content;
    border-radius: 2rem;
    padding: 10px; 
    transform: scale(0,0);
    transform-origin:top;
    transition: transform 300ms ease-in-out;
    z-index: 100;
    
  }
 
  .close{
    transform: scale(0,0);
    transition: transform 300ms ease-in-out;
    
  }
  .topbar_links{
    width: 86vw;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: none;
    
    box-shadow: 0px 0px 5px black;
    z-index: 99;
  } 
  
  .toggle_button:checked ~ nav{
    transform: scale(1,1);
    z-index: 90;
  }
  .toggle_button:not(:checked) ~ nav{
    transform: scale(0,0);
    z-index: 90;
  }
  .toggle_button_label{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100% ;
    display: flex;
    align-items: center;
  }
  .toggle_button_label>p{
    visibility: collapse;
  }
  .toggle_button_label span,
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    display: block;
    background:black;
    width: 1.5em;
    height: 0.2em;
    border-radius: 2px;
    position: relative;
    
  }

  .toggle_button_label span::before{
    content: " ";
    position: absolute;
    bottom: 7px;
  }
  .toggle_button_label span::after{
    content: " ";
    position: absolute;
    top: 7px;
  }
  .toggle_button:checked ~  .toggle_button_label span{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in ;
  }
  .toggle_button:checked ~  .toggle_button_label p{
    visibility: visible;
    color: black;
    position: absolute;
    top: 06%;
    left: -80%;
    font-size: 1.5em;
    font-weight: 600;
    animation: hamburgerX 500ms ease-in;
    /* z-index: 999; */
  }


  /*---Home---*/
   .one{
     top: 40vh;
     width: 70vw;
     z-index: 0;
   }
   .greetings{
     font-size: 1.5rem;
     padding-left: 2rem;
     z-index: 1;
   }

}



